body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.right-panel {
  display: flex;
  position: relative;
  border-left: 1px solid #979797;
  z-index: 1;
}

.right-sidebar {
  position: relative;
  flex: 1;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  color: black !important;
}
h2 {
  color: white !important;
}
.heading {
  font-size: 80px;
  color: white;
}
.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(1px);
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.tp-autocomplete {
  position: relative;
  max-width: 25em;
}
.my-input,
.tp-ac__input {
  width: 100%;
  padding: 0.25em;
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  -webkit-appearance: none;
  text-overflow: ellipsis;
}
.tp-ac__input::-webkit-input-placeholder {
  color: #ccc;
  -webkit-font-smoothing: antialiased;
}
.tp-ac__input::-moz-placeholder {
  color: #ccc;
  -webkit-font-smoothing: antialiased;
}
.tp-ac__input:-ms-input-placeholder {
  color: #ccc;
  -webkit-font-smoothing: antialiased;
}
.tp-ac__input::placeholder {
  color: #ccc;
  -webkit-font-smoothing: antialiased;
}
.tp-ac__input:focus {
  outline: none;
}
.tp-ac__input::-ms-clear {
  display: none;
}
.spinner .tp-ac__input {
  padding-right: 1.5em;
  margin-right: -1.5em;
}

.tp-ac__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  color: #979797;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
  font-size: 0.875em;
}

.tp-ac__item {
  overflow: hidden;
  padding: 0.35714em 0.71429em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tp-ac__item:hover,
.tp-ac__item.is-active {
  background-color: #5bc0d0;
}
.tp-ac__item.no-results,
.tp-ac__item.no-results:hover {
  cursor: default;
  background-color: #fff;
}
.tp-ac__item span {
  color: #4a4a4a;
  font-weight: bold;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.active-button:disabled{
  border:0px solid transparent;
}

.spinner:before {
  position: absolute;
  top: 50%;
  right: 0.5em;
  width: 1em;
  height: 1em;
  margin-top: -0.625em;
  margin-left: -0.625em;
  content: "";
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-top-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.sm-border-bottom {
  width: 30%;
  flex-wrap: nowrap !important;
}

.curve-bar {
  --value: 0;
  --fill: #ff0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  &::after {
    content: "";
    width: 158px;
    height: 160px;
    border: 28px solid;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill)
      var(--fill);
    position: absolute;
    border-radius: 50%;
    /* left: 9px; */
    top: 3px;
    box-sizing: border-box;
    transform: rotate(
      calc(1deg * (-45 + var(--value) * 12))
    ); /* value by 15 * 180deg gave us *12 */
    animation: fillAnimation 1s ease-in;
  }
}
@keyframes fillAnimation {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(135deg);
  }
}

.wind-value {
  font-size: 50px;
  font-weight: bold;
}
.wind-unit {
  font-size: 30px;
}
.sun-icon i {
  font-size: 25px;
  color: #f2c62f;
}

.list-city-div {
  max-height: 200px;
}
.last-update {
  font-size: small;
}
.medium-update {
  font-size: 13px;
}
.today-update {
  font-size: 14px;
}
.today-update i {
  font-size: 7px;
  vertical-align: middle;
}
.clickable {
  cursor: pointer;
}
.left-sidebar {
  position: relative;
  padding-bottom: 150px;
}
.image-div {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

.image-container {
  max-height: 80px;
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
  filter: opacity(0.8) drop-shadow(0 0);
  width: 100%;
  height: auto;
}

.temperature-value {
  font-size: 100px;
  font-weight: 400;
  font-style: italic;
}
.today-weather {
  padding: 3rem !important;
  padding-bottom: 0px !important;
}
.today-date {
  font-size: large;
}
.hr-line {
  border-top: 1px solid #979797;
}
.see-detail-city {
  font-size: 14px;
  color: white;
}
.sun-dial {
  width: 100px;
  height: 50px;
  position: relative;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 5px solid #f25c52;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.sun-dial-time {
  font-size: 10px;
  color: #f25c52;
  width: 110px;
}
.sun-dial-outerdiv {
  margin-right: 3rem;
}
.sun-icon1 {
  color: #f25c52;
  border-radius: 50%;
  position: absolute;
  background-color: lightgoldenrodyellow;
  display: block;
  top: 50%;
  left: 30%;
  margin: 6px;
  overflow: hidden;
  /* left: 0; */
  /* transition: left 2s; */
}
.custom-accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordianDetail {
  float: right;
}
.accordion-button::after {
  margin-left: 0 !important;
}


/* .border-green{
  border-color: green;
}
.border-yellow{
  border-color: yellow;
}
.border-orange{
  border-color: #F0A741;
}
.border-red{
  border-color: #FF504F;
}
.border-maroon{
  border-color: #960132;
}
.border-darkm{
  border-color: #7D2181;
} */

@media screen and (max-width: 575px) {
  .left-panel {
    border-right: 0px;
  }
  .sun-dial {
    width: 50px;
    height: 25px;
    border: 2px solid #f25c52;
    border-bottom: 0;
  }

  .sun-dial-time {
    font-size: 7px;
    width: 60px;
  }
  .sun-dial-outerdiv {
    margin-right: 0;
  }
  .sun-icon1 {
    margin: -4px;
    transform: translate(25px) rotate(0deg);
  }
  .today-weather {
    padding: 1rem !important;
  }
  .temperature-value {
    font-size: 70px;
  }
  .sm-border-bottom {
    flex-wrap: nowrap !important;
  }
  .heading {
    font-size: 37px;
  }
  .see-detail-city {
    font-size: 10px;
  }
  .accordian-detail {
    flex-direction: column;
  }
  .p-body {
    max-height: 50px;
    overflow-y: auto;
  }
}
